/*common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: orangered;
}

.btn-primary{
    border-radius: 5px;
    background-color: orangered;
    font-size: 15px;
    font-weight: 700px;
    color: white;
    padding: 10px;

}
/*nav related styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;

}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: gray;

}
/*nav related header styles*/
.header{
    background-color: #fff8f3;

}
.bannar{
    padding: 30px 30px 30px 150px;
}